@model List<List<string>>
@{
    ViewData["Title"] = "Table of users";
}

<div class="container">
    <table class="table table-bordered border-primary table-dark">
        <thead>
            <tr>
                <th scope="col">@Model[0][0]</th>
                <th scope="col">@Model[0][1]</th>
                <th scope="col">@Model[0][2]</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th>@Model[1][0]</th>
                    <td>@Model[1][1]</td>
                    <td>@Model[1][2]</td>
                </tr>
        </tbody>
</table>
</div>
